
// text blocks
p {
    margin: 0 0 1rem;
    text-align: left;
    word-wrap: break-word;
}


//label
label {
    display: block;
    width: 100%;
    margin: 0;
}

// images
img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

// split line
hr {
    margin: $space 0;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $border;
    padding: 0;
}

// text vars
b, strong {
    font-weight: 500;
}


//forms
form {
    display: inline-block;
}