// inputs and labels

// base input styling
input:not([type=submit]):not([type=range]):not([type=file]):not([type=radio]):not([type=checkbox]), textarea, select {
    display: inline-block;

    width: 100%;
    height: 35px;
    margin-bottom: 1em;
    padding: 0 1em;

    transition: all 0.25s;
    vertical-align: top;

    font-family: $ff-base;
    font-size: $fs-s;

    border: 1px solid $gray;
    // focus
    &:focus {
        border: 1px solid $primary-d;
    }
    &::-webkit-input-placeholder {
        color: $gray;
    }
    // disabled
    &:disabled {
        cursor: not-allowed;

        opacity: 0.7;
    }
}

// textarea
textarea {
    resize: vertical;
}

// wrapper for complex inputs construction
.formwrap {
    display: inline-block;

    width: 100%;

    vertical-align: top;
    // text label for inputs
    &_label {
        padding-bottom: 0.1em;

        font-size: $fs-s;
        font-weight: 500;
    }
}

// inner part of inputs construction with input, buttons and icons
.formbox {
    display: inline-table;

    width: 100%;
    &_inp {
        position: relative;

        display: table-cell;

        width: 100%;

        vertical-align: middle;
        // input with icon on left side
        &.m_icon {
            input {
                padding-left: 2.2em !important;
            }
            .icon {
                position: absolute;
                top: 4px;
                left: 11px;
            }
        }
        // input with icon on right side
        &.m_ricon {
            input {
                padding-right: 2.2em !important;
            }
            .icon {
                position: absolute;
                top: 4px;
                right: 11px;
            }
        }
    }
    // collumn for button
    &_btn {
        display: table-cell;

        vertical-align: middle;
        .btn {
            height: 35px;
        }
        // modifier for buutons in this constraction (if input on left side)
        .btn.m_right {
            margin-left: -1px;

            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
