// text sections styling
// paragraph
p {
	margin-bottom: 1em;
}

// blockquotes
blockquote {
	margin: 0 0 1em 0;
	padding: 0.25em 0 0.25em 1.25em;

	font-weight: 300;

	color: $black;
	border-left: 2px solid $black;
	&.m_primary {
		border-left: 2px solid $primary;
	}
	&.m_accent {
		border-left: 2px solid $accent;
	}
	&.m_danger {
		border-left: 2px solid $danger;
	}
}

// split line
hr {
	margin: $space 0;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $gray;
	padding: 0;
}

// text vars
b,
strong {
	font-weight: 500;
}
