.wtags {
    display: inline-block;
    width: 100%;
    min-height: 52px;
    padding: 10px 10px 3px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.4);
    input {
        display: inline-block;
        width: 112px;
        padding: 5px 0 5px 0;
        background: transparent;
        border: none;
        font-size: 16px;
    }
}
.wtag {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    font-size: 13px;
    background: #ECF0F1;
    box-shadow: 0 0 0 1px silver;
    margin-right: 7px;
    margin-bottom: 7px;
    transition: all 0.2s;
    border-radius: 1px;
    &--in {
        display: inline-table;
        vertical-align: top;
        height: 32px;
        width: 100%;
        padding: 6px 6px 6px 9px;
        background: #ECF0F1;
        border-radius: 1px;
        box-shadow: 0 0 0 1px silver;
    }
    .icon {
        display: table-cell;
        vertical-align: middle;
        width: 20px;
        font-size: 17px;
        padding-left: 3px;
        cursor: pointer;
        &:hover {
            color: red;
        }
    }
    &--text {
        display: table-cell;
        vertical-align: middle;
    }
    &--ava {
        display: table-cell;
        vertical-align: middle;
        width: 23px;
        text-align: left;
        img {
            display: inline-block;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    &::before {
      content: '';
      display: block;
      clear: both;
    }
    &::after {
      content: '';
      display: block;
      clear: both;
    }
}