wsort {
    &>div {
        width: 100%;
        height: 100%;
        display: inherit;
        position: relative;
        ng-transclude {
            width: 100%;
            height: 100%;
            display: inherit;
            position: relative;
            &.dragging {
                z-index: 999999;
            }
        }
    }

    &._enter-silver {
        &>div.drag-enter {
            background: #BDC3C7;
        }
    }
}
.cu-drag {
    cursor: move;
}