<label class="wtags">

	<wsort class='wtag _enter-silver' ng-repeat="obj in arr" obj="obj" arr="arr" change="change()" bag="moderators">
		<div class="wtag--in">
			<div class="wtag--ava"><img ng-src='{{$parent.obj.avatarUrl}}' alt='{{$parent.obj.name}}'></div>
			<div class="wtag--text"><span>{{$parent.obj.name}}</span></div>
			<i class='icon icon-close' ng-click='arr.splice($index, 1); change();' title="Delete moderator"></i>
		</div>
	</wsort>

	<input type='text' placeholder='{{holder}}' ng-model='object.new_moderator'>
</label>
<div ng-if='object.new_moderator'>
	<div ng-repeat='user in users|rArr:arr|filter:object.new_moderator' ng-click='arr.push(user); object.new_moderator=null; change();'>
		<img ng-src='{{user.avatarUrl}}' alt='{{user.name}}'>
		<span>{{user.name}}</span>
	</div>
</div>