// This file contains very basic styles.
//Set up a decent box model on all element
html,
*,
*:before,
*:after {
	box-sizing: border-box;
}

// remove all outline effects
* {
	outline: 0;
}

html {
	width: 100%;
	height: 100%;

	font-size: $fs;
}

body {
	display: table;

	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	cursor: default;
	letter-spacing: 0.01em;

	font-family: $ff-base;
	line-height: 1.4;

	color: $black;
}
