//width
.w-20 {
    width: 20px;
}

.w-50 {
    width: 50px;
}

.w-100 {
    width: 100px;
}

.w-150 {
    width: 150px;
}

.w-200 {
    width: 200px;
}

.w-300 {
    width: 300px;
}

.w-500 {
    width: 500px;
}

.w-5p {
    width: 5%;
}

.w-10p {
    width: 10%;
}

.w-20p {
    width: 20%;
}

.w-25p {
    width: 25%;
}

.w-33p {
    width: 33%;
}

.w-40p {
    width: 40%;
}

.w-50p {
    width: 50%;
}

.w-75p {
    width: 75%;
}

.w-80p {
    width: 80%;
}

.w-100p {
    width: 100%;
}

.w-auto {
    width: auto !important;
}

//height
.h-20 {
    height: 20px;
}

.h-50 {
    height: 50px;
}

.h-100 {
    height: 100px;
}

.h-150 {
    height: 150px;
}

.h-200 {
    height: 200px;
}

.h-300 {
    height: 300px;
}

.h-500 {
    height: 500px;
}

.h-5p {
    height: 5%;
}

.h-10p {
    height: 10%;
}

.h-20p {
    height: 20%;
}

.h-25p {
    height: 25%;
}

.h-33p {
    height: 33%;
}

.h-40p {
    height: 40%;
}

.h-50p {
    height: 50%;
}

.h-75p {
    height: 75%;
}

.h-80p {
    height: 80%;
}

.h-100p {
    height: 100%;
}

.mh-100p {
    min-height: 100%;
}

.h-auto {
    height: auto !important;
}