// experimental set of tags for markup

body{
    overflow: hidden;
}

lbox {
    position: relative;
    display: table;
    width: 100%;
}

box {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}

row {
    display: table-row;
    width: 100%;
}

cel {
    display: table-cell;
    height: 100%;
}

lua {
    display: table-cell;
    vertical-align: top;
    text-align: left;
}

cua {
    display: table-cell;
    vertical-align: top;
    text-align: center;
}

rua {
    display: table-cell;
    vertical-align: top;
    text-align: right;
}

lma {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

cma {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

rma {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

lba {
    display: table-cell;
    vertical-align: bottom;
    text-align: left;
}

cba {
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
}

rba {
    display: table-cell;
    vertical-align: bottom;
    text-align: right;
}

noscroll {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

scroll {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

hscroll {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}