//This file contains all application-wide Sass variables.
// COLORS

$primary: #3498DB;
$primary-l: #55ade8;
$primary-d: #2980B9;

$accent: #E67E22;
$accent-l: #F39C12;
$accent-d: #D35400;

$danger: #E74C3C;
$danger-l: #f1685a;
$danger-d: #C0392B;

$black: #3C3E3B;
$black-l: #595a58;
$black-d: #000000;

$gray: #95A5A6;
$gray-l: #c3cfd0;
$gray-d: #7F8C8D;

$white: #ffffff;

$border: #CECDCD;

// FONTS
$ff-title: "Open Sans", sans-serif;
$ff-base: "Roboto", sans-serif;
$fs-xs: 0.75rem;
$fs-s: 0.875rem;
$fs: 1rem;
$fs-l: 1.25rem;
$fs-xl: 1.5rem;
$fs-xxl: 2rem;
$fs-xxxl: 2.5rem;

// SPACING
$space: 1rem;
$space05: $space / 2;
$space2: $space * 2;

// LINKS
$link-c: $primary;
$link-h-c: $primary-d;
$link-td: underline;
$link-h-td: underline;
