{% extends '__index.html' %}

{% block body %}
	<box ng-controller="Users">
		<cel>
			<scroll>
				<span ng-repeat="user in User.users|filter:{name:User.searchName}">
					<img ng-src="{{user.avatarUrl}}" alt="Avatar of {{user.name}}">
					<span>{{name}}</span>
				</span>
			</scroll>
		</cel>
		<cel style="width: 400px">
			<box>
				<row style="height: 70px;">
					<label>
						<h2>Name</h2>
						<input type="text" placeholder="Type Name" ng-model="User.searchName">
					</label>
				</row>
				<row style="height: 70px;">
					<h2>Age</h2>
					<box>
						<cel>
							<label>
								<h4>From</h4>
								<input type="checkbox" checked>
							</label>							
						</cel>
						<cel>
							<label>
								<h4>To</h4>
								<input type="checkbox" checked>
							</label>							
						</cel>
					</box>
				</row>
				<row style="height: 70px;">
					<h2>Gender</h2>
					<box>
						<cel>
							<label>
								<input type="checkbox" checked>
								<h4>Male</h4>
							</label>							
						</cel>
						<cel>
							<label>
								<input type="checkbox" checked>
								<h4>Female</h4>
							</label>							
						</cel>
					</box>
				</row>
				<row>
					<h2>By Skill</h2>
					<box>
						<scroll>
							<box>
								<row ng-repeat="skill in User.all_skills" ng-style="{height: $index!=User.all_skills.length-1&&'30px'}">
									<label>
										<input type="checkbox" checked>
										<h4>{{skill}}</h4>
									</label>
								</row>
							</box>
						</scroll>
					</box>
				</row>
			</box>
		</cel>
	</box>
{% endblock %} 