{% extends '__index.html' %}

{% block body %}
<!-- user info -->
	<img src="" alt="User Face">
	<span>name</span>
	<span>email</span>
	<span>gender</span>
	<span>birth</span>
<!-- user followings -->
	<img src="" alt="User A Face">
	<img src="" alt="User B Face">
	<img src="" alt="User C Face">
<!-- user followers -->
	<img src="" alt="User A Face">
	<img src="" alt="User B Face">
	<img src="" alt="User C Face">
<!-- user skills -->
	<span>cooking</span>
	<span>fishing</span>
	<span>painting</span>
{% endblock %}